@import "modules/colors";

.goals-edit__page-title {
  font-size: 20px;
}

.goals-edit__form__category__check-boxes__options-box {
  max-height: 500px;
  max-width: 300px;
  display: none;
  border: solid 1px;
  overflow: scroll;
  white-space: nowrap;
}