@import "modules/colors";

.goals-show__task-info {
  &__title {
    font-size: 20px;
  }
  &__image {
    width: 252px;
    height: 252px;
    display: flex;
    text-align: center;
    &__thumbnail {
      align-items: center;
    }
    &__no-image {
      border: 1px solid;
      height: 100%;
      width: 100%;
      line-height: 100%;
    }
  }
}


