@import "modules/colors";

.categories-show {
  height: 75vh;
  padding: 15px;
  &__top {
    margin-bottom: 10px;
    &__page-title {
      font-size: 20px;
    }
    &__edit-btn {
      margin-left: 20px;
    }
  }
}