-# .form--left
-#   .actions-edit__image-box
-#     .actions-edit__current-image
-#       - if action.action_image.attached?
-#         = image_tag action.action_image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed
-#         = f.file_field :action_image
-#     .actions-edit__new-image
-# .form--right
-#   .actions-edit__fields
-#     .actions-edit__fields__title
-#       = f.text_field :title, class: "actions-edit__fields__title"
-#     .actions-edit__fields__status
-#       = f.select :status, Action.statuses_i18n.invert, {}, {class: 'actions-edit__select-action-status'}
-#   .actions-edit__submit
-#     = f.submit "保存"