i.fas.fa-walking {
  font-size: 30px;
  color: $lightgreen;
}

i.fas.fa-search {
  color: whitesmoke;
}


.lists-index {
  display: flex;
  .left-content {
    max-height: 50vh;
    width: 50%;
    .upper-content {
      .lists-index__list-operator {
        &__search-form {
          &__form-field {
            &__text-field {
              @include form-style;
              width: 75%;
            }
            &__list-search-btn {
              @include search-btn;
            }
          }
        }
        &__create-list-btn {
          margin: 10px 0;
        }
      }
      .lists-index__list-table {
        margin-top: 30px;
      }
    }
    .lower-content {
      margin-top: 5vh;
      #next-seven-days-tasks {
        max-height: 35vh;
      }
    }
  }
  .right-content {
    max-height: 50vh;
    width: 50%;
    .lists-index__task-operator {
      &__search-form {
        &__form-field {
          #task-searcher {
            @include form-style;
            width: 85%;
          }
        }
      }
      .lists-index__task-table {
        margin-top: 30px;
        #searched-task-table {
          max-height: 75vh;
        }
      }
    }
  }
}


