i.fas.fa-walking {
  font-size: 30px;
  color: $lightgreen;
}

i.fas.fa-search {
  color: whitesmoke;
}

.lists-index__goal--doing {
  color: $darkorange;
}

.lists-index__goal--done {
  color: $green;
}



.lists-index {
  display: flex;
  height: 90vh;
  .left-content {
    height: 100%;
    width: 50%;
    margin-right: 10px;
    .upper-content {
      height: calc(50% - 10px);
      margin-bottom: 10px;
      // overflow: scroll;
      // white-space: nowrap;
      .lists-index__list-operator {
        &__search-form {
          &__form-field {
            &__text-field {
              @include form-style;
              width: 75%;
            }
            &__list-search-btn {
              @include search-btn;
            }
          }
        }
        &__create-list-btn {
          margin: 10px 0;
        }
      }
      .lists-index__list-table {
        margin-top: 15px;
      }
    }
    .lower-content {
      height: 50%;
      // overflow: scroll;
      // white-space: nowrap;
      #next-seven-days-tasks {
        max-height: 40vh;
      }
    }
  }
  .right-content {
    height: 100%;
    width: 50%;
    .lists-index__task-operator {
      &__search-form {
        &__form-field {
          #task-searcher {
            @include form-style;
            width: 85%;
          }
        }
      }
      .lists-index__task-table {
        margin-top: 30px;
        #searched-task-table {
          max-height: 75vh;
        }
      }
    }
  }
}


