@mixin form-style {
  height: 40px;
  line-height: 40px;
  padding: 10px;
  border-radius: 25px;
}


.lists-list_search {
  margin: 15px;
  &__list-operator {
    &__form {
      margin-bottom: 15px;
      &__form-field {
        position: relative;
        &__text-field {
          height: 40px;
          line-height: 40px;
          padding: 10px;
          width: 40%;
          @include form-style;
        }
        &__search-btn {
          position: absolute;
          border-style: none;
          left: 36%;
          top: 1vh;
        }
      }
    }
    &__show-keywords {
      margin: 15px;
    }
    &__sort {
      margin-bottom: 15px;
    }
  }
}

#list_search__sort {
  height: 30px;
}

.lists-list_search__list-operator__results__table {
  height: 60vh;
}