#list-in-search {
  @include form-style;
  width: 40%;
}

#lists-show__search-btn {
  @include search-btn;
}

.goal--doing {
  background-color: $kurenai;
}

.goal--done {
  background-color: $lightgreen;
}

.lists-show {
  height: 75vh;
  overflow: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &__operator {
    &__search-form {
    }
    &__create-task-btn {
      margin: 1vh;
    }
  }
}

.lists-show__task-table__results {
  // background-color: blue;
  height: 60vh;
}