.practices-edit__title-field {
  height: 40px;
  width: 95%;
  line-height: 40px;
  padding: 10px;
  border-radius: 5px;
  border-color: $slategreen;
  border-style: solid;
}

.practices-edit__select-practice-status {
  height: 3vh;
}

.practices-edit__new-image-preview {
  height: 80px;
  width: 80px;
}

.practices-edit__change-image-icon {
  margin-right: 10px;
}



.practices-edit {
  display: flex;
  // @include scroll-config;
  &__goal {
    height: 100vh;
    width: 30%;
    // @include scroll-config;
    .practices-edit__goal__image {
      height: 45vh;
      @include half-opacity;
      .goal-image-box {
        height: 100%;
        width: 100%;
        @include flex-center;
      }
    }
    &__contents {
      margin: 10px;
      @include half-opacity;
      .contents-box {
        height: 100%;
        width: 100%;
        .contents {
          text-align: center;
          .practices-edit__goal__contents__title {
            font-size: 20px;
            margin-bottom: 1vh;
          }
          .practices-edit__goal__contents__status {
            width: 90%;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
    &__date {
      margin-bottom: 1vh;
      margin-left: 20px;
      @include half-opacity;
    }
    &__category {
      height: 30vh;
      margin-left: 20px;
      @include half-opacity;
      .category-box {
        height: 25vh;
        @include scroll-config;
        padding: 10px;
      }
    }
    .practices-edit-links {
      margin: 10px;
    }
  }
  &__steps {
    height: 100vh;
    width: 30%;
    .steps {
      height: 33%;
      width: 100%;
      display: flex;
      // @include scroll-config;
      .left-box {
        height: 100%;
        width: 60%;
        @include flex-center;
        // @include scroll-config;
      }
      .right-box {
        width: 40%;
        .flex-box {
          height: 100%;
          width: 100%;
          @include flex-center;
          .flex--center {
            .steps__title {
              margin: 10px;
            }
            .steps__status {
              margin: 10px;
            }
          }
        }
      }
    }
    .anchor-step {
      height: 34%;
      width: 100%;
      display: flex;
      // @include scroll-config;
      .left-box {
        height: 100%;
        width: 60%;
        @include flex-center;
        // @include scroll-config;
      }
      .right-box {
        width: 40%;
        .flex-box {
          height: 100%;
          width: 100%;
          @include flex-center;
          .flex--center {
            .steps__title {
              margin: 10px;
            }
            .steps__status {
              margin: 10px;
            }
          }
        }
      }
    }
  }
  &__practices {
    height: 100vh;
    width: 40%;
    form {
      height: 100%;
      width: 100%;
      .practices {
        height: 11%;
        display: flex;
        &--left {
          height: 100%;
          width: 50%;
          @include flex-center;
        }
        &--right {
          height: 100%;
          width: 50%;
          @include flex-center;
          .practices--right__box {
            text-align: center;
            width: 100%;
            .box--flex {
              @include flex-center;
            }
            .practices--right__box__status {
              width: 90%;
              display: flex;
              justify-content: flex-end;
              margin-top: 1vh;
            }
          }
        }
        .form--left {
          height: 100%;
          width: 50%;
          .practices-edit__image-box {
            height: 100%;
            width: 100%;
            @include flex-center;
            .practices-edit__current-image {
              height: 100%;
              width: 35%;
              @include flex-center;
            }
            .practices-edit__new-image {
              height: 100%;
              width: 45%;
              display: flex;
              align-items: center;
              .practices-edit__new-image--flex {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
              }
            }
            .practices-edit__icons {
              height: 100%;
              width: 20%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              .icons--upload {
                margin-right: 5px;
                .practices-edit__upload-label {
                  .practices-edit__file-field {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .form--right {
          height: 100%;
          width: 50%;
          .practices-edit__fields {
            height: 100%;
            &__title {
              height: 50%;
              @include flex-center;
            }
            .form--right--flex {
              height: 50%;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              .practices-edit__fields__status {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .anchor-practices {
        height: 11%;
        display: flex;
        border-bottom: 1px solid;
        border-color: $lightgreen;
        &--left {
          height: 100%;
          width: 50%;
          @include flex-center;
        }
        &--right {
          height: 100%;
          width: 50%;
          @include flex-center;
          .anchor-practices--right__box {
            text-align: center;
            width: 100%;
            .box--flex {
              @include flex-center;
            }
            .anchor-practices--right__box__status {
              width: 90%;
              display: flex;
              justify-content: flex-end;
              margin-top: 1vh;
            }
          }
        }
        .form--left {
          height: 100%;
          width: 50%;
          .practices-edit__image-box {
            height: 100%;
            width: 100%;
            @include flex-center;
            .practices-edit__current-image {
              height: 100%;
              width: 35%;
              @include flex-center;
            }
            .practices-edit__new-image {
              height: 100%;
              width: 45%;
              display: flex;
              align-items: center;
              .practices-edit__new-image--flex {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
              }
            }
            .practices-edit__icons {
              height: 100%;
              width: 20%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              .icons--upload {
                margin-right: 5px;
                .practices-edit__upload-label {
                  .practices-edit__file-field {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .form--right {
          height: 100%;
          width: 50%;
          .practices-edit__fields {
            height: 100%;
            &__title {
              height: 50%;
              @include flex-center;
            }
            .form--right--flex {
              height: 50%;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              .practices-edit__fields__status {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.practices-edit__form {
  display: flex;
}