#users-edit__file-field {
  display: none;
}

.users-edit__default-icon {
  font-size: 200px;
  color: $green;
}

.users-edit__new-avatar-preview {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.users-edit__footer {
  text-align: center;
}

.users-edit__form-style {
  @include form-style;
}

.users-edit .field {
  margin: 5px;
}

.users-edit {
  &__form {
    text-align: center;
    @include mypage-form-box;
    .field__avatar {
      &__image-box {
        height: 20vh;
        .users-edit__avatar {
          text-align: center;
          &__preview {
            img {
              border-radius: 50%;
            }
          }
        }
      }
      &__operator {
        display: flex;
        justify-content: center;
        .users-edit__operator__upload {
          &__label {
            text-align: center;
            margin: 0 auto;
          }
        }
        .users-edit__operator__remove {
          margin-left: 15px;
          text-align: center;
        }
      }
    }
  }
}



