.goals-edit .added-form {
  width: 60%;
  @include form-style;
}

.goals-edit__new-image-preview {
  height: 250px;
  width: 250px;
  padding: 10px;
}

.goals-edit__delete-current-image-btn {
  font-size: 14px;
}

.goals-edit {
  display: flex;
  height: 100vh;
  width: 100vw;
  &__goal-section {
    width: 40%;
    .goals-edit__form {
      &__image {
        height: 34vh;
        @include flex-center;
        &__previews {
          // 新旧画像プレビューを横並びに
          height: 100%;
          width: 100%;
          @include flex-center;
          padding: 10px;
          &__current-image {
            height: 32vh;
            width: 45%;
            padding: 10px;
            @include flex-center;
            @include scroll-config;
            &__image-box {
              text-align: center;
            }
            &__icon {
              margin: auto 0 auto 20px;
              display: flex;
              align-items: center;
            }
          }
          &__new-image {
            height: 100%;
            width: 55%;
            @include flex-center;
            @include scroll-config;
            .goals-edit__new-image-box {
              display: flex;
              text-align: center;
              .goals-edit__change-image-icon {
                @include flex-center;
              }
            }
          }
        }
      }
      &__fields {
        text-align: center;
        margin-bottom: 5px;
        &--file {
          display: flex;
          justify-content: center;
          &__upload {
            .goals-edit__form__upload-label {

            }
            .goals-edit__form__file-field {
              display: none;
            }

          }
          &__remove {
            margin-left: 10px;

          }
        }
        &--text {
          #goals-edit__text-field {
            @include form-style;
          }
        }
      }
      &__status {
        margin: 0 10px;
        text-align: center;
        .goals-edit__select-goal-status {
          height: 30px;
        }
      }
      &__date {
        text-align: center;
        select {
          height: 30px;
        }
      }
      &__category {
        height: 28vh;
        text-align: center;
        &__check-boxes {
          text-align: center;
          margin-top: 5px;
          #goals-edit__modal-fadein-btn {
            width: 25%;
          }
          &__options-box {
            height: 15vh;
            width: 60%;
            border: 1px solid;
            padding: 10px;
            margin: 5px auto;
            border-radius: 5px;
            display: none;
            @include scroll-config;
            .options {
              .categories {
                margin-bottom: 5px;
              }
            }
          }
        }
        ul {
          margin-top: 5px;
          #create-category-btn {
            width: 25%;
            margin-bottom: 5px;
          }
        }
      }
      &__submit-btn {
        width: 80%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .goals-edit__links {
      padding: 5px 10px;
    }
  }
  &__steps-section {
    width: 30%;
    .goals-edit__steps {
      height: 33%;
      width: 100%;
      display: flex;
      .goals-edit__steps--left {
        height: 100%;
        width: 50%;
        .steps__image {
          height: 100%;
          @include scroll-config;
          @include flex-center;
        }
      }
      .goals-edit__steps--right {
        height: 100%;
        width: 50%;
        text-align: center;
        .right-box {
          margin-top: 15vh;
          .steps__title {
          }
          .steps__status {
          }
        }
      }
    }
    .goals-edit__anchor-step {
      height: 34%;
      width: 100%;
      display: flex;
      .goals-edit__anchor-step--left {
        height: 100%;
        width: 50%;
        .anchor-step__image {
          height: 100%;
          @include scroll-config;
          @include flex-center;
        }
      }
      .goals-edit__anchor-step--right {
        height: 100%;
        width: 50%;
        text-align: center;
        .right-box {
          margin-top: 15vh;
          .anchor-step__title {
          }
          .anchor-step__status {
          }
        }
      }
    }
  }
  &__practices-section {
    height: 100%;
    width: 30%;
    .goals-edit__practices {
      height: 11%;
      display: flex;
      .practices__left-box {
        width: 50%;
        .practices__image {
          height: 100%;
          width: 100%;
          @include scroll-config;
          @include flex-center;
        }
      }
      .practices__right-box {
        height: 100%;
        width: 50%;
        @include flex-center;
      }
    }
    .goals-edit__anchor-practices {
      height: 11%;
      display: flex;
      border-bottom: 1px solid;
      border-color: $lightgreen;
      .anchor-practices__left-box {
        width: 50%;
        .anchor-practices__image {
          height: 100%;
          width: 100%;
          @include scroll-config;
          @include flex-center;
        }
      }
      .anchor-practices__right-box {
        height: 100%;
        width: 50%;
        @include flex-center;
      }
    }
  }
}