.goals-new__form__category__check-boxes__options-box {
  max-height: 300px;
  max-width: 300px;
  display: none;
  border: solid 1px;
  overflow: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.goals-new {
  padding: 10px;
  &__form {
    #new-task-form {
      .new-task-form {
        display: flex;
        // セクション：ゴール
        &__goal {
          width: 34%;
          background-color: red;
          &__image {
            &__preview {
              text-align: center;
            }
          }
          &__text-field {
            display: flex;
            position: relative;
            &__input {

            }
            &__icons {
              position: absolute;
              display: flex;
              &__upload {
                .new-task-form__goal__upload-label {
                  #new-task__goal__file-field {
                    display: none;
                  }
                }
              }
              &__remove {
                #new-task__goal__remove-preview-btn {
                  padding-left: 5px;
                }
              }
            }
          }
          .new-task-form__category {
            &__check-boxes {
              #modal-fadein-btn {

              }
              &__options-box {
                display: none;
                max-height: 300px;
                max-width: 300px;
                border: solid 1px;
                overflow: scroll;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
              }
            }
          }
        }
        // セクション：ステップ
        &__steps {
          width: 33%;
          background-color: blue;
        }
        // セクション：アクション
        &__actions {
          width: 33%;
          background-color: green;
        }
      }
    }
  }
}
