@import "modules/colors";

.goals-show__task-info {
  &__title {
    font-size: 20px;
  }
  &__image {
    width: 250px;
    height: 250px;
    display: flex;
    text-align: center;
    &__thumbnail {
      align-items: center;
      max-width: 250px;
      max-height: 250px;
    }
  }
}


