.search-in-list--doing {
  background-color: $kurenai;
}

.search-in-list--done {
  background-color: $green;
}


.goals-task_search_in_list {
  &__operator {
    margin-bottom: 10px;
    &__form {
      margin-bottom: 20px;
      &__form-field {
        &__text-field {
          @include form-style;
          width: 40%;
        }
        &__search-btn {
          @include search-btn;
        }
      }
    }
    &__show-keywords {
      margin-bottom: 5px;
    }
    &__sort {
      margin-bottom: 20px;
    }
  }

  &__task-table {
    display: block;
    overflow: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    height: 60vh;
  }
}
