$white: #fff;
$whitesmoke: rgb(248, 248, 248);

$gray: #999;
$darkgray: rgb(87, 87, 87);
$lightgray: rgb(243, 242, 242);
$black: #434a54;

$green: #008080;
$lightgreen: #89c5c5;
$slategreen: rgb(112, 144, 144);

$orange: #F35500;
$red: rgba(223, 45, 45, 0.726);

$cs-navy: #2a3d57;
