$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$gray: #999;
$darkgray: rgb(87, 87, 87);
$light_gray: rgb(231, 231, 231);
$black: #434a54;

$green: #008080;
$light-green: #89c5c5;
$orange: #F35500;