$white: #fff;
$whitesmoke: rgb(248, 248, 248);

$gray: #999;
$darkgray: rgb(87, 87, 87);
$lightgray: rgb(243, 242, 242);
$black: #434a54;

$green: #016363;
$lightgreen: #89c5c5;
$slategreen: rgb(112, 144, 144);

$red: rgba(223, 45, 45, 0.726);
$kurenai: rgba(226, 85, 75, 0.733);

$orange: #F35500;
$darkorange: rgb(189, 91, 39);

$cs-navy: #2a3d57;
