@mixin form-style {
  height: 40px;
  line-height: 40px;
  padding: 10px;
  border-radius: 5px;
  border-color: $slategreen;
  border-style: solid;
}

@mixin search-btn {
  height: 40px;
  width: 80px;
  display: inline-block;
  border-radius: 5px;
  background-color: $green;
}

@mixin mypage-form-box{
  width: 30%;
  margin: 15vh auto 0 auto;
  padding: 50px;
  background-color: whitesmoke;
}