.notification {
  .notice {
    background-color: $green;
    color: $white;
  }

  .alert {
    background-color: $orange;
    color: $white;
  }

  .success {
    background-color: $green;
    color: $white;
  }
}