@mixin form-style {
  height: 40px;
  line-height: 40px;
  padding: 10px;
  border-radius: 25px;
}

.lists-list_search__list-operator__form__form-field {
  position: relative;
  &__text-field {
    height: 40px;
    line-height: 40px;
    padding: 10px;
    @include form-style;
  }
  &__search-btn {
    position: absolute;
    border-style: none;
    left: 600px;
    top: 10px;
  }
}

.lists-list_search__list-operator__results__table {
  text-align: center;
}

// table {
//   display: block;
//   overflow-x: scroll;
//   white-space: nowrap;
//   -webkit-overflow-scrolling: touch;
// }

// table tbody {
//   width: 100%;
//   display:table;
// }