@import "reset";


@import "font-awesome-sprockets";
@import "font-awesome";

@import "modules/header";
@import "modules/colors";
@import "modules/mixins";
@import "modules/flash";

// for users
@import "modules/users/sessions/new";
@import "modules/users/registrations/new";
@import "modules/users/registrations/edit";
@import "modules/users/registrations/new_address";
@import "modules/users/show";
@import "modules/users/edit";
// for addresses
@import "modules/addresses/edit";
// for lists
@import "modules/lists/index";
@import "modules/lists/new";
@import "modules/lists/show";
@import "modules/lists/list_search_at_root";
@import "modules/lists/task_search_at_root";
@import "modules/lists/list_search";
// for goals
@import "modules/goals/new";
@import "modules/goals/show";
@import "modules/goals/edit";
@import "modules/goals/task_search_in_list";
// for steps
@import "modules/steps/edit";

// for categories
@import "modules/categories/index";
@import "modules/categories/show";
@import "modules/categories/edit";


* {
  box-sizing: border-box;
  color: $cs-navy;
}

// タグ・共通
header {
  border-bottom: 1px solid;
  border-color: $gray;
}

main {
  padding: 15px;
}

footer {
  padding: 15px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:not(.users-edit__submit) {
  padding: 5px;
}

i:not(.fa-tasks):not(.fa-user-circle):not(.fa-search):not(.fa-circle):not(.fa-check-circle):not(.fa-heart) {
  color: $slategreen;
}

// i:not(.fa-tasks):hover {
//   transform:scale(1.1);
// }

img:not(#login-user-avatar):not(.users-edit__new-avatar-preview):not(#current-avatar) {
  border-radius: 10%;
  object-fit: cover;
}

table {
  display: block;
  overflow: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

th {
  font-weight: bold;
  padding: 0 10px;
  background-color: $lightgray;
  text-align: center;
}

td {
  padding: 1vh 10px;
  text-align: center;
}





// クラス・共通

.breadcrumbs-field {
  margin: 5px 20px;
}
.fas:not(.fa-tasks):not(.fa-user-circle):not(.fa-check-circle) {
  font-size: 20px;
}

.far:not(.fa-circle) {
  font-size: 20px;
}

.pulldown-menu {
  height: 40px;
}

.no-image {
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 25px;
  text-align: center;
  border-radius: 10%;
  background-color: $whitesmoke;
}

.tasks-thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.td-image {
  text-align: center;
}

.thumbnail--large {
  height: 450px;
  width: 450px;
}

.thumbnail--middle {
  height: 300px;
  width: 300px;
}

.thumbnail--small {
  height: 80px;
  width: 80px;
}

.breadcrumbs-field {
  margin-top: 5px;
}

.breadcrumbs-field a{
  color: $green;
}

.grayout {
  opacity: 0.3;
}

.fas.fa-heart {
  color: $red;
}

.change-status-btn {
  border-radius: 5px;

}

// .change-status-btn {
//   border-radius: 5px;
//   border-color: darkgray;
//   border-style: solid;
// }

// タグ、クラス・共通

tbody.hover-records tr:hover {
  opacity: 0.7;
}

td.thumbnail {
  width: 100px;
  height: 100px;
  text-align: center;
}
