.addresses-edit__footer {
  text-align: center;
}

.addresses-edit__form-style {
  @include form-style;
}

.addresses-edit {
  &__form {
    text-align: center;
    @include mypage-form-box;
    input:not(.devise-action-btns) {
      width: 60%;
    }
  }
}